body {
    margin: 0;
    background-color: rgb(43, 43, 69);
}

.container {
    margin: 230px 750px;
}

.game-field {
    display: flex;
    align-items: flex-start;
    width: 462px;
    border: 2px solid black;
}

.cells {
    color: white;
    text-align: center;
    font-size: 125px;
    font-family: monospace;
}

.cell {
    height: 150px;
    width: 150px;
    border: 2px solid black;
}

.restart-button {
    margin-left: 160px;
    margin-top: 50px;
}

.restart-button button {
    background-color: rgb(0, 0, 255);
    cursor: pointer;
    font-size: 30px;
    padding: 10px 15px;
    font-family: monospace;
    color: white;
    transition: linear 0.3s;
}

.restart-button button:hover {
    background-color: rgb(255, 94, 0);
    transform: scale(1.05);
}